<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<string>twitter</string>
	<string>twitter-web</string>
	<string>facebook</string>
	<string>facebook-web</string>
	<string>instagram</string>
	<string>dropbox-web</string>
	<string>tumblr</string>
	<string>foursquare-web</string>
	<string>meetup</string>
	<string>linkedin-web</string>
	<string>sinaweibo-web</string>
	<string>google-web</string>
	<string>strava-web</string>
	<string>tripit</string>
	<string>trello-web</string>
	<string>box-web</string>
	<string>onedrive-web</string>
	<string>mailchimp</string>
</array>
</plist>
